/* Thiết lập cho toàn bộ ứng dụng */
body {
  font-family: Arial, sans-serif;
  background-color: #6d8281;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* Khung chứa của app */
.todo-app {
  width: auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

/* Phần form thêm việc */
.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.todo-input-row{
  display: flex;
  align-items: stretch;
  gap: 10px;
}
/*Input*/

.todo-input {
  flex: 1;
  padding: 12px 14px;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
  transition: border-color 0.2s ease;
}
.todo-input:focus {
  border-color: #007bff;
}

.todo-input-row button {
  padding: 0 20px;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  transition: background-color 0.2s ease;
}

.todo-input-row button:hover {
  background-color: #0056b3;
}

/*Error*/
.error-message {
  color: red;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
  margin-left: 2px;
}

/* Phần danh sách */
.todo-list {
  list-style: none; /* Bỏ dấu chấm đầu dòng */
  padding: 0;
}

.todo-list li {
  display: flex;
  justify-content: space-between; /* Đẩy chữ và nút ra 2 bên */
  align-items: center;
  padding: 10px;
  color: #313131;
  border-bottom: 1px solid #eee;
  background: #dbdbdb;
}

.todo-list li:last-child {
  border-bottom: none; /* Dòng cuối cùng không có gạch */
}

/* Nút xóa */
.todo-list button {
  border: none;
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list button:hover {
  background-color: #c82333;
}
.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  background-color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.nav-link{
  text-decoration: none;
  color: #007bff;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: all 0.25s ease;
}
/* Hiệu ứng hover */
.nav-link:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  transform: translateY(-1px);
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.3);
}

/* Trạng thái đang chọn (active) */
.nav-link.active {
  background-color: #0056b3;
  color: white;
}